/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs {
        // padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            // max-width: calc(1280 / 16 * 1rem);
            width: 100%;
            row-gap: calc(40 / 16 * 1rem);
        }

        .cs-left {
            .cs-picture {
                /* clips img tag corners */
                img {
                    width: 338px;
                    height: 338px;
                    /* makes image act like a background image */
                }
            }
        }

        .cs-right {
            margin: auto;
            // width: 640px important;
            padding: 18px;
            .cs-one {
                font-size: 16px;
                font-family: "General", sans-serif;
                text-align: center;
                color: var(--primary);
            }
            .cs-two {
                text-align: center;
                font-size: 36px;
                span {
                    color: var(--primary);
                }
            }
            .cs-text {
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: #000;
                opacity: 0.8;
            }
        }

        .cs-topper {
            margin-bottom: calc(4 / 16 * 1rem);
            text-align: left;
        }

        .cs-title {
            max-width: calc(800 / 16 * 1rem);
            text-align: left;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            max-width: calc(750 / 16 * 1rem);
            color: var(--bodyTextColor);
            text-align: left;

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-flex-group {
            position: relative;
            border-radius: calc(16 / 16 * 1rem);
            background-color: #f7f7f7;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
        }

        .cs-flex-p {
            margin: 0 0 calc(16 / 16 * 1rem);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-name {
            display: block;
            margin: 0 0 calc(4 / 16 * 1rem);
            text-transform: uppercase;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
        }

        .cs-job {
            display: block;
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-quote-icon {
            position: absolute;
            bottom: calc(0 / 16 * 1rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            height: auto;
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
        }

        .cs-button-solid {
            margin-top: calc(32 / 16 * 1rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs {
        width: 1440px !important;
        margin: auto;
        margin-top: 114px;
        margin-bottom: 120px;
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: calc(52 / 16 * 1rem);

            // background-color: #3c78ff;
        }

        .cs-left {
            .cs-picture {
                display: block;
                border-radius: calc(24 / 16 * 1em);
                /* clips img tag corners */
                img {
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 704px !important;
                    /* makes image act like a background image */
                    object-fit: contain;
                }
            }
        }

        .cs-right {
            margin: 0;
            // width: 640px !important;
            .cs-one {
                font-size: 16px;
                font-family: "General", sans-serif;
                color: var(--primary);
                text-transform: uppercase;
                text-align: left !important;
            }
            .cs-two {
                font-size: 60px;
                text-align: left !important;
                color: #000;
                span {
                    color: var(--primary);
                }
            }
            .cs-text {
                font-size: 18px;
                text-align: left !important;
                color: #000;
                opacity: 0.5;
                font-weight: 400;
                font-family: "General", sans-serif;
                margin-top: 18px;
                width: 640px !important;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                background-color: var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                opacity: 0.8;
                color: var(--bodyTextColorWhite);
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

// -------------------------------------
@media only screen and (min-width: 0rem) {
    .card-container {
        z-index: 100;
        position: relative;
        // border-top: calc(6 / 16 * 1em) solid var(--primary);
        border-radius: calc(5 / 16 * 1em);
        margin: auto;
        margin-top: calc(100 / 16 * 1em);
        // margin-bottom: calc(50 / 16 * 1em);
        background-color: #fff;
        max-width: calc(1320 / 13 * 1em);
        // box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        // padding: calc(30 / 16 * 1em) calc(10 / 16 * 1em);
        width: 90%;
        p {
            font-size: 16px;
            line-height: calc(24 / 18 * 1em);
            font-family: "Roboto", "Arial", sans-serif;
            font-weight: 500;
            color: var(--primary);
            text-align: center;
            // margin-top: calc(60 / 16 * 1em);
        }
        h1 {
            font-size: calc(60 / 16 * 1em);
            line-height: calc(48 / 32 * 1em);
            font-weight: 700;
            text-align: center;
        }
        .service-text {
            color: #525252;
            text-align: center;
            font-size: 18px;
            line-height: calc(24 / 18 * 1em);
            font-family: "Roboto", "Arial", sans-serif;
            font-weight: 200;
            margin-top: 0px;
        }
        .services {
            // padding: calc(30 / 16 * 1em) calc(10 / 16 * 1em);
            // box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
            // border-bottom: 2px solid var(--primary);

            .card {
                display: block;
                // margin: auto;
                margin-bottom: calc(5 / 16 * 1em);
                max-width: calc(397 / 13 * 1em);
                width: 100%;
                font-family: "arial";
                // border-bottom: 1px solid var(--primary);
                picture {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin: auto;
                    margin-bottom: calc(23 / 16 * 1em);
                    margin-top: calc(23 / 16 * 1em);
                    background: var(--primary);
                    height: calc(88 / 16 * 1em);
                    width: calc(88 / 16 * 1em);
                    img {
                        height: calc(48 / 16 * 1em);
                        width: calc(48 / 16 * 1em);
                    }
                }
                h2 {
                    margin-bottom: calc(13 / 20 * 1em);
                    font-size: calc(30 / 16 * 1em);
                    line-height: calc(27 / 20 * 1em);
                    font-weight: 700;
                    color: #1a1a1a;
                    text-align: center;
                }
                p {
                    opacity: 0.7;
                    width: 100%;
                    line-height: calc(24 / 18 * 1em);
                    text-align: center;
                    color: #525252;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            // .card:nth-child(2) {
            //     // border-left: 1px solid var(--primary);
            //     // border-right: 1px solid var(--primary);
            // }
            .card-btn a {
                display: flex;
                margin: auto;
                justify-content: center;
                align-items: center;
                gap: calc(12 / 16 * 1em);
                // border: 1px solid var(--btn);
                margin: 0 calc(8 / 16 * 1rem);
                // background-color: var(--btn);
                /* 46px - 56px */
                height: clamp(2.875em, 5.5vw, 3.5em);
                // width: calc(180 / 16 * 1rem);
                box-sizing: border-box;
                padding: 0;
                // text-decoration: none;
                font-size: calc(16 / 16 * 1rem);
                font-family: "Roboto", "Arial", sans-serif;
                color: var(--primary);
                /* 46px - 56px */
                // line-height: clamp(2.875em, 5.5vw, 3.5em);
                font-weight: 700;
            }
        }
    }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
    .card-container {
        .services {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            font-size: min(1.8vw, 1em);

            .card {
                margin: 0;
                max-width: calc(325 / 16 * 1em);
            }
            .card:nth-child(2) {
                border-left: none;
                border-right: none;
            }
        }
        .services:nth-child(2) {
            border-top: 1px solid rgba(0, 0, 0, 1);
            // background-color: aqua;
        }
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    .card-container {
        .service-text {
            width: calc(950 / 16 * 1em);
            margin: auto;
            margin-bottom: 50px;
        }

        .services {
            padding: 0 calc(80 / 16 * 1em);
            // border-bottom: 2px solid rgba(0, 0, 0, 1);
            .card {
                max-width: calc(450 / 16 * 1em);
                // border-bottom: 1px solid rgba(0, 0, 0, 1);
            }
            .card:nth-child(2) {
                border-left: 1px solid rgba(0, 0, 0, 0.2);
                border-right: 1px solid rgba(0, 0, 0, 0.2);
                padding: 0 10px;
            }
        }
        .services:nth-of-type(2) {
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
}

@media only screen and (min-width: 64rem) {
    .get-it-done-section {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        align-items: center;
        gap: 0rem !important;
        text-align: left !important;
        justify-content: space-between;
        padding: 2rem 5rem !important;
        background-color: #236ad9;
        color: #ffffff;
        width: 1440px !important;
        margin: auto;
        border-radius: 38px;
        &__header {
            max-width: 45% !important;
            color: #f2f5ff !important;
            // background-color: #68a3ff;

            .get-it-done-section__title-1 {
                font-size: 60px !important;
                line-height: 1.2;
                margin: 0 0 1rem;
                color: #ffffff !important;
                // span {
                //     color: #4D8AE8;
                // }
            }

            .get-it-done-section__description {
                font-size: 1rem;
                line-height: 1.5;
                margin: 0 0 1.5rem;
                font-family: Arial, Helvetica, sans-serif;
                color: #ffffff !important;
            }

            .get-it-done-section__cta {
                background-color: #68a3ff;
                color: #ffffff;
                border: none;
                text-transform: uppercase;
                padding: 22px 37px !important;
                font-size: 1rem;
                border-radius: 5px;
                font-weight: 600 !important;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #4d8ae8;
                }
            }
        }

        &__illustration {
            max-width: 55% !important;

            img {
                width: 720px !important;
                height: auto;
            }
        }
    }
}

@media only screen and (min-width: 0rem) {
    .get-it-done-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0rem;
        background-color: #236ad9;
        color: #ffffff;
        width: 340px;
        margin: auto;
        margin-top: 100px;

        border-radius: 38px;

        &__header {
            // max-width: 45%;
            color: #f2f5ff !important;
            // background-color: #68a3ff;

            .get-it-done-section__title-1 {
                font-size: 30px;
                line-height: 1.2;
                margin: 0 0 1rem;
                color: #ffffff !important;
                // span {
                //     color: #4D8AE8;
                // }
            }

            .get-it-done-section__description {
                font-size: 1rem;
                line-height: 1.5;
                margin: 0 0 1.5rem;
                font-family: Arial, Helvetica, sans-serif;
                color: #ffffff !important;
            }

            .get-it-done-section__cta {
                background-color: #4d8ae8;
                color: #ffffff;
                border: none;
                padding: 0.8rem 1.5rem;
                font-size: 1rem;
                border-radius: 5px;
                font-weight: 600 !important;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #4d8ae8;
                }
            }
        }

        &__illustration {
            // max-width: 100%;

            img {
                width: 340px;
            }
        }
    }
}

// ------------------------------------

@media only screen and (min-width: 0rem) {
    #portfolio {
        margin-top: 50px;
        p {
            text-align: center;
            color: var(--primary);
            font-family: Arial, Helvetica, sans-serif;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        h1 {
            text-align: center;
            color: black;
            font-size: calc(30 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 500;
            margin-bottom: 1rem;
            span {
                color: var(--primary);
            }
        }
        .cs-portfolio {
            color: rgba(82, 82, 82, 1);
            font-family: Arial, Helvetica, sans-serif;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin-bottom: 1rem;
            text-align: center;
        }
        .portfolio-features {
            margin: 0px 10px;
        }
        .portfolio-images img {
            width: 100vw;
        }
        .cs-features {
            color: rgba(82, 82, 82, 1);
            font-family: Arial, Helvetica, sans-serif;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 800;
            margin-bottom: 1rem;
            text-align: left;
        }
        .cs-icon {
            background-color: #3c78ff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cs-drop-li {
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin-bottom: 1rem;
            text-align: center;
        }
        .cs-portfolio-text {
            color: rgba(82, 82, 82, 1);
            font-family: Arial, Helvetica, sans-serif;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 64rem) {
    #portfolio {
        margin-top: 150px !important;
        margin: 0px 50px;
        width: 1440px !important;
        margin: auto;
        p {
            text-align: center;
            color: var(--primary);
            font-family: Arial, Helvetica, sans-serif;
            font-size: calc(18 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin-bottom: 1rem;
            margin-top: 20px;
            width: 900px;
            margin: auto;
        }
        h1 {
            text-align: center;
            color: black;
            font-size: calc(60 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 500;
            margin-bottom: 1rem;
            span {
                color: var(--primary);
            }
        }
        .cs-portfolio-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: -100px 10px;
            width: 1440px;
        }
        .cs-portfolio {
            width: 740px;
            size: 18px !important;
            margin: auto;
        }
        .portfolio-features {
            margin: 0px !important;
        }
        .portfolio-images img {
            width: 704px !important;
            height: auto;
        }
        .cs-portfolio-title {
            text-align: left;
        }
        .cs-portfolio-text {
            text-align: left;
            width: 616px;
        }

        .cs-portfolio-content {
            width: 736px !important;
            padding: 60px;
        }

        .cs-portfolio-container-2 {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin: -150px 10px;
        }
        .cs-portfolio-container-3 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: -150px 10px;
        }
    }
}

@media only screen and (min-width: 0rem) {
    #sbs-r {
        // padding: var(--sectionPadding);
        margin-top: 120px;
        background: linear-gradient(360 deg, #ffffff 0%, #f2f5ff 100%);

        p {
            font-size: 16px;
            text-align: center;
            margin: auto;
            color: var(--primary);
            font-family: "Roboto", "Arial", sans-serif;
        }
        h1 {
            font-size: calc(30 / 16 * 1em);

            font-weight: 700;
            text-align: center;
            margin: auto;
            color: black;
            span {
                color: var(--primary);
            }
        }

        .work-text {
            font-size: 16px;
            line-height: calc(24 / 18 * 1em);
            font-family: "Roboto", "Arial", sans-serif;
            color: rgba(82, 82, 82, 1);
            text-align: center;
            margin: auto;
            margin-top: calc(10 / 16 * 1em);
        }
        .work-layout {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: calc(40 / 16 * 1em);
            gap: calc(30 / 16 * 1em);
        }
        .work-card {
            background: #fff;
            border-radius: 22px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            width: 320px;
            height: 310px;

            .card-header {
                display: flex;

                justify-content: center;
                align-items: center;
                margin-bottom: 10px;

                .circle {
                    background: #fff;
                    // color: #fff;
                    font-weight: normal;
                    font-family: "Roboto", "Arial", sans-serif;
                    font-size: 18px;
                    height: 36px;
                    width: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-top: -15%;
                    span {
                        font-weight: bold;
                        background: #3c78ff;
                        padding: 3px 3px;
                        border-radius: 50%;
                        color: #fff;
                    }
                }
            }

            .card-icon {
                margin: 10px 0;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .card-title {
                font-size: 24px;
                font-weight: bold;
                margin: 10px 0;
                font-family: "Roboto", "Arial", sans-serif;
                color: #333;
            }

            .card-description {
                font-size: 14px;
                color: #666;
                line-height: 1.6;
            }
        }
        .stepper {
            display: none;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-r {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: calc(52 / 16 * 1rem);
        }
        p {
            font-size: 16px;
            text-align: center;
            margin: auto;
            color: var(--primary);
            // width: 950px;
            font-family: "Roboto", "Arial", sans-serif;
        }
        h1 {
            font-size: calc(60 / 16 * 1em);
            width: 950px;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: black;
            span {
                color: var(--primary);
            }
        }
        .work-text {
            width: 950px;
        }

        .work-layout {
            display: flex;
            flex-direction: row;
            // justify-content: center;
            align-items: center;
            justify-content: center;
            align-items: center;
            margin-top: calc(60 / 16 * 1em);
            gap: calc(30 / 16 * 1em);
        }
        .stepper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 200px;
            width: 750px;
            margin: auto;
            // background-color: aqua;

            // width: 100%;
            // min-width: 600px;

            .step {
                display: flex;
                align-items: center;
                position: relative;

                .circle {
                    background-color: #fff;
                    border: 2px solid #ccc;
                    color: #000;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    // font-weight: bold;
                    z-index: 1;
                    font-family: Arial, Helvetica, sans-serif;
                }

                &.active .circle {
                    background-color: #3c78ff;
                    color: #fff;
                    border: 2px solid #3c78ff;
                }

                .line {
                    height: 2px;
                    background-color: #aaa0a0;
                    flex-grow: 1;
                    position: absolute;
                    margin: auto;
                    top: 50%;
                    left: 20%;
                    transform: translateX(-50%);
                    width: 700px;
                    z-index: 0;
                }

                &:first-child .line {
                    display: none;
                }
            }
        }
    }
}

@import url("https://fonts.googleapis.com/css?family=Londrina+Outline");

//-------------------------------------

@media only screen and (min-width: 64rem) {
    .mission-section {
        background-color: #236AD9;
        color: white;
        padding: 5rem 0 !important;
        border-radius: 20px;
        text-align: center;
        width: 1440px;
        margin: auto !important;

        .subtitle {
            font-size: 1rem;
            font-weight: 500;

            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        .content {
            max-width: 800px;
            margin: 0 auto;
        }

        .title {
            font-size: 60px !important;
            font-weight: normal;
            margin-bottom: 1rem;
            color: white;
        }

        .description {
            font-size: 18px !important;
            margin-bottom: 2rem;
            line-height: 1.5;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        .stats {
            display: flex;
            justify-content: center;
            gap: 3rem !important;

            .stat-item {
                text-align: center;
                display: flex;
                flex-direction: row !important;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-family: Arial, Helvetica, sans-serif;

                h3 {
                    font-size: 5rem !important;
                    font-family: "Londrina Outline", cursive;
                    text-align: center;
                    color: rgb(255, 255, 255);

                    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
                }

                p {
                    font-size: 1.5rem !important;
                    font-weight: 500;
                    color: white;
                }
            }
        }
    }
}

@media only screen and (min-width: 0rem) {
    .mission-section {
        background-color: #236AD9;
        color: white;
        padding: 5rem 0;
        border-radius: 20px;
        text-align: center;
        margin: 19px;
        padding: 48px 19px;

        .subtitle {
            font-size: 1rem;
            font-weight: 500;

            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        .content {
            max-width: 800px;
            margin: 0 auto;
        }

        .title {
            font-size: 36px;
            font-weight: normal;
            margin-bottom: 1rem;
            color: white;
        }

        .description {
            font-size: 1rem;
            margin-bottom: 2rem;
            line-height: 1.5;
            color: white;
            opacity: 0.8;
            font-family: Arial, Helvetica, sans-serif;
        }

        .stats {
            display: flex;
            justify-content: center;
            gap: 20px;

            .stat-item {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                font-family: Arial, Helvetica, sans-serif;

                h3 {
                    font-size: 48px;
                    font-family: "Londrina Outline", cursive;
                    text-align: center;
                    color: rgb(255, 255, 255);

                    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: white;
                }
            }
        }
    }
}
